{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'variant_picker_custom.css' | asset_url | stylesheet_tag }}

{%- assign product_form_id = 'product-form-' | append: section.id -%}

<a
  href="{{ card_product.url }}"
  id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
  class="item full-unstyled-link"
  aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
>
  <div class="card-1">
    <img
      class="card-bg"
      src="{{ card_product.featured_media | img_url: '856x856' }}"
      alt=""
      width="auto"
      height="auto"
    >
    <img
      class="card-product-img"
      src="{{ card_product.media[1] | img_url: '856x856', crop: 'bottom' }}"
      alt=""
      width="auto"
      height="auto"
    >

    <div class="card__information">
      <h3 id="title-{{ section_id }}-{{ card_product.id }}" class="card-title">{{ card_product.title | escape | upcase }}</h3>
    </div>
    {%- if show_quick_add -%}
      <div class="card-button">
        <div class="quick-add no-js-hidden">
          {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
          {%- if card_product.variants.size == 1 -%}
            <product-form>
              {%- form 'product',
                card_product,
                id: product_form_id,
                class: 'form',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ card_product.selected_or_first_available_variant.id }}"
                  disabled
                >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  aria-live="polite"
                  data-sold-out-message="true"
                  {% if card_product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  {% if card_product.compare_at_price > card_product.price
                    and card_product.selected_or_first_available_variant.available
                  %}
                    <div class="discounted-price-container" style="display: flex; gap: 5px; justify-content: center;">
                      <span class="discounted-price" style="text-decoration: line-through">
                        {{- card_product.compare_at_price | money_without_trailing_zeros -}}
                      </span>
                      <span class="current-price">{{ card_product.price | money_without_trailing_zeros }}</span>
                    </div>
                  {% elsif card_product.selected_or_first_available_variant.available %}
                    COMPRAR - {{ card_product.price | money_without_trailing_zeros | upcase }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                  <div class="loading-overlay__spinner hidden">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              {%- endform -%}
            </product-form>
          {%- endif -%}
        </div>

        {% comment %}
          <button>
              <a href="{{ card_product.url }}">Comprar - {{ card_product.price | money_without_trailing_zeros }}</a>
          </button>
        {% endcomment %}
      </div>
    {%- endif -%}
  </div>
</a>

<style>
  .card-title {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 99;
    text-align: center;
    padding-bottom: 4px;
  }

  .card-title,
  .card-desc {
      font-family: "ABCfina" !important;
      text-decoration: none;
      font-size: 14px;
  }

  .section-header {
      font-family: "ABCcopa";
  }


  .cards {
      display: flex;
  }

  .card .card-info-price {
      display: flex;
      justify-content: space-between;
  }

  .card {
      position: relative;
      height: 428px;
      border-radius: 13px;
      display: flex;
      align-items: flex-end;
      text-align: left;
      color: #444;
      overflow: hidden;
  }

  .card-1 .card-info-price {
      display: flex;
      justify-content: space-between;
  }

  .card-1 {
      position: relative;
      height: 428px;
      border-radius: 13px;
      display: flex;
      align-items: flex-end;
      text-align: left;
      color: #444;
      overflow: hidden;
      text-decoration: none;
      min-width: 200px;
      max-width: 450px;
  }


  .card-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: 1;
      object-fit: cover;
      transition-duration: 0.5s;
  }

  .card-product-img {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: 0;
      object-fit: cover;
      transition-duration: 0.5s;
      opacity: 0;
      transform: scale(1.2);
      object-fit: cover;
  }

  .card-bg-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;
      transition-duration: 0.5s;
  }

  .card-product-img-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: 0;
      transition-duration: 0.5s;
      opacity: 0;
      transform: scale(1.2);
  }

  .card-info {
      padding: 20px;
  }

  .card:hover .card-bg {
      transform: scale(1.2);
      transition-duration: 0.5s;
  }

  .card:hover .card-bg-2 {
      transform: scale(1.2);
      transition-duration: 0.5s;
  }

  .card:hover .card-bg-3 {
      transform: scale(1.2);
      transition-duration: 0.5s;
  }

  .card:hover .card-bg-4 {
      transform: scale(1.2);
      transition-duration: 0.5s;
  }

  .card-button {
      width: 100%;
      text-align: center;
      opacity: 0;
      margin-bottom: 20px;
  }

  .card-button button {
      width: 95%;
      border: 1px solid rgba(86 , 86 , 86,.1);
      border-radius: 5rem;
      display: inline-block;
      background-color: white;
      color: #444;
      text-decoration: none;
      font-size: 12px;
      font-family: "ABCcopa";
      height: 36px;
  }



  .card-button button:hover, .card-button a:hover {
      color: white;
      transition: 0.5s ease-in-out;
      background: grey !important;
  }

  .card-button a {
      color: black;
      font-family: "ABCfina" !important;
      text-decoration: none;
      text-transform: uppercase;
    font-size: 14px;
      border:none;
      color: #444;
  }


  @media only screen and (max-width: 768px) {
    .card-1 .card-button {
        opacity: 1;
    }
  }

  .card-1:hover .card-button {
    opacity: 1;
    z-index: 11;
    }

  .card-1:hover .card__information {
    opacity: 0;
  }

  .card-1:hover .card-product-img {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.5s;
      z-index: 10;
  }

  .card-1:hover .card-product-img-2 {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.5s;
  }

  .card-1:hover .card-product-img-3 {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.5s;
  }

  .card-1:hover .card-product-img-4 {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.5s;
  }
</style>
